body {
  margin: auto;
  background-color: blanchedalmond;
}
/* Centered Image Code */

.center {
  height: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.wordcenter{
  height: auto;
  text-align: center;
  align-items: center;
  vertical-align: center;
}


/* slideUp */
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0); }
  100% {
    -webkit-transform: none; } }
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translate3d(0, 100%, 0); }
  100% {
    -moz-transform: none; } }
@-o-keyframes slideUp {
  0% {
    -o-transform: translate3d(0, 100%, 0); }
  100% {
    -o-transform: none; } }
@keyframes slideUp {
  0% {
    transform: translate3d(0, 100%, 0); }
  100% {
    transform: none; } }

.u--slideUp {
  -webkit-animation: slideUp 1s;
  -moz-animation: slideUp 1s;
  -o-animation: slideUp 1s;
  animation: slideUp 1s; }

  .Desc-slideUp {
    -webkit-animation: slideUp 1s;
    -moz-animation: slideUp 1s;
    -o-animation: slideUp 1s;
    animation: slideUp 1s; }

    .Butt-slideUp {
      -webkit-animation: slideUp 1s;
      -moz-animation: slideUp 1s;
      -o-animation: slideUp 1s;
      animation: slideUp 1s; }



      /*________________________________________*/
      
      /*button Animation*/
      @import url("https://fonts.googleapis.com/css?family=Roboto:100");
* {
  box-sizing: border-box;
}


.coolBeans {
  border: 2px solid currentColor;
  border-radius: 3rem;
  color: blanchedalmond;
  font-family: roboto;
  font-size: 1rem;
  font-weight: 100;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
.coolBeans::after {
  background-color: blanchedalmond;
  border-radius: 3rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
.coolBeans:hover::after {
  transform: translate(0, 0);
}
.coolBeans:hover {
  border: 2px solid transparent;
  color: blanchedalmond;
  transform: scale(1.05);
  will-change: transform;
}